<div class="container-fluid projects-bg" style="overflow-x: clip;">

  <div class="pt-5 ps-5">

    <div class="head-rout d-flex">
      <img src="assets/images/img/sections-header.png" alt="">
      <p class="align-self-center ms-2 p-0 m-0 fs-4 fw-bold" style="color: #2055F3;">FerdowsiCloud
        <span class="text-black">Sections</span>
      </p>
    </div>
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'; margin: 0px -15px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:"><i class="feather icon-home"></i></a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">FerdowsiCloud</li>
      </ol>
    </nav>


    <div class="buttons" style="float: right;position: relative;top: -3.5rem;right: -5rem;">

      <div class="searchbar" style="position: relative;left: -15rem;">

        <form class="d-flex position-relative" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn position-absolute" type="submit" style="right: 0;">
            <i class="fa-light fa-magnifying-glass"></i>
          </button>
        </form>

      </div>

      <div class="members" style="position: relative;top: -2rem;">

        <div class="btn btn-primary">
          Add Member
        </div>

        <div class="members d-flex position-relative align-items-center" style="top: 2rem;left: -1rem;">
          <div class="member member1"></div>
          <div class="member member2"></div>
          <div class="member member3"></div>
          <div class="member member4"></div>
          <div class="member member5">5+</div>
        </div>

      </div>

    </div>

  </div>



  <div class="container mt-5">

    <div class="card-sections d-flex flex-wrap justify-content-between">

      <div class="card-sections-body rounded mt-4">
        <div class="container">

          <div class="card-sections-up">
            <div class="card-sections-up-head d-flex justify-content-center">
              <div class="card-sections-up-head-icon">
                <img src="assets/images/img/sections-header.png" width="60%">
              </div>
              <div class="card-sections-up-head-name">
                <p class="fw-bold" style="font-size: 25px;">
                  DevOps
                  <span style="color: #F651C1; font-size: 16px;">
                    Project
                  </span>
                </p>
              </div>
            </div>
            <div class="card-sections-up-details">
              <p style="font-size: 10px;text-align: justify;width: 90%;">
                Lorem ipsum dolor sit amet, consectetur elit, sed do tempor.
              </p>
            </div>
          </div>

          <div class="card-sections-down d-flex justify-content-around" style="margin-top: 2.5rem">
            <div class="card-sections-down-memebers">
              <div class="card-sections-down-memebers-icon">
                <img src="assets/images/img/members.png" width="80%">
              </div>
              <div class="card-sections-down-memebers-count" style="translate: -6px 10px;">
                <p class="fs-5">13</p>
              </div>
            </div>
            <div class="card-sections-down-passwords" style="margin: 10px 0;">
              <div class="card-sections-down-passwords-icon">
                <img src="assets/images/img/passwords.png" width="80%">
              </div>
              <div class="card-sections-down-passwords-count" style="translate: 1px 15px;">
                <p class="fs-5">31</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-sections-body rounded mt-4">
        <div class="container">

          <div class="card-sections-up">
            <div class="card-sections-up-head d-flex justify-content-center">
              <div class="card-sections-up-head-icon">
                <img src="assets/images/img/sections-header.png" width="60%">
              </div>
              <div class="card-sections-up-head-name">
                <p class="fw-bold" style="font-size: 25px;">
                  Front
                  <span style="color: #F651C1; font-size: 16px;">
                    Project
                  </span>
                </p>
              </div>
            </div>
            <div class="card-sections-up-details">
              <p style="font-size: 10px;text-align: justify;width: 90%;">
                Lorem ipsum dolor sit amet, consectetur elit, sed do tempor.
              </p>
            </div>
          </div>

          <div class="card-sections-down d-flex justify-content-around" style="margin-top: 2.5rem">
            <div class="card-sections-down-memebers">
              <div class="card-sections-down-memebers-icon">
                <img src="assets/images/img/members.png" width="80%">
              </div>
              <div class="card-sections-down-memebers-count" style="translate: -6px 10px;">
                <p class="fs-5">15</p>
              </div>
            </div>
            <div class="card-sections-down-passwords" style="margin: 10px 0;">
              <div class="card-sections-down-passwords-icon">
                <img src="assets/images/img/passwords.png" width="80%">
              </div>
              <div class="card-sections-down-passwords-count" style="translate: 1px 15px;">
                <p class="fs-5">21</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-sections-body rounded mt-4">
        <div class="container">

          <div class="card-sections-up">
            <div class="card-sections-up-head d-flex justify-content-center">
              <div class="card-sections-up-head-icon">
                <img src="assets/images/img/sections-header.png" width="60%">
              </div>
              <div class="card-sections-up-head-name">
                <p class="fw-bold" style="font-size: 21px;">
                  Back-end
                  <span style="color: #F651C1; font-size: 16px;">
                    Project
                  </span>
                </p>
              </div>
            </div>
            <div class="card-sections-up-details">
              <p style="font-size: 10px;text-align: justify;width: 90%;">
                Lorem ipsum dolor sit amet, consectetur elit, sed do tempor.
              </p>
            </div>
          </div>

          <div class="card-sections-down d-flex justify-content-around" style="margin-top: 2.5rem">
            <div class="card-sections-down-memebers">
              <div class="card-sections-down-memebers-icon">
                <img src="assets/images/img/members.png" width="80%">
              </div>
              <div class="card-sections-down-memebers-count" style="translate: -6px 10px;">
                <p class="fs-5">3</p>
              </div>
            </div>
            <div class="card-sections-down-passwords" style="margin: 10px 0;">
              <div class="card-sections-down-passwords-icon">
                <img src="assets/images/img/passwords.png" width="80%">
              </div>
              <div class="card-sections-down-passwords-count" style="translate: 1px 15px;">
                <p class="fs-5">11</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-sections-body rounded mt-4">
        <div class="container">

          <div class="card-sections-up">
            <div class="card-sections-up-head d-flex justify-content-center">
              <div class="card-sections-up-head-icon">
                <img src="assets/images/img/sections-header.png" width="60%">
              </div>
              <div class="card-sections-up-head-name">
                <p class="fw-bold" style="font-size: 23px;">
                  Support
                  <span style="color: #F651C1; font-size: 16px;">
                    Project
                  </span>
                </p>
              </div>
            </div>
            <div class="card-sections-up-details">
              <p style="font-size: 10px;text-align: justify;width: 90%;">
                Lorem ipsum dolor sit amet, consectetur elit, sed do tempor.
              </p>
            </div>
          </div>

          <div class="card-sections-down d-flex justify-content-around" style="margin-top: 2.5rem">
            <div class="card-sections-down-memebers">
              <div class="card-sections-down-memebers-icon">
                <img src="assets/images/img/members.png" width="80%">
              </div>
              <div class="card-sections-down-memebers-count" style="translate: -6px 10px;">
                <p class="fs-5">5</p>
              </div>
            </div>
            <div class="card-sections-down-passwords" style="margin: 10px 0;">
              <div class="card-sections-down-passwords-icon">
                <img src="assets/images/img/passwords.png" width="80%">
              </div>
              <div class="card-sections-down-passwords-count" style="translate: 1px 15px;">
                <p class="fs-5">17</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>