<div class="col-xl-12">
  <app-card cardTitle="" [options]="false" blockClass="table-border-style">
    <div class="card-title">
      <p class="h2 mb-4"><i class="fa-duotone fa-shield" style="color : #dc3545"></i> FerdowsiCloud Project Passwords
      </p>
    </div>
    <div class="table-responsive mt-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Password</th>
            <th>Note</th>
            <th>Url</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>internet pws</td>
            <td>*******</td>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing.</td>
            <td>www.ferdowsi.cloud</td>
            <td><i class="fa-regular fa-ellipsis"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>ferdowsi blog pws</td>
            <td>*******</td>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing.</td>
            <td>www.blog.ferdowsi.cloud</td>
            <td><i class="fa-regular fa-ellipsis"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>open stack pws</td>
            <td>*******</td>
            <td>Lorem ipsum dolor sit, amet consectetur adipisicing.</td>
            <td>www.openstack.ferdowsi.cloud</td>
            <td><i class="fa-regular fa-ellipsis"></i></td>
          </tr>

        </tbody>
      </table>
    </div>
  </app-card>
</div>