<div class="container-fluid projects-bg" style="overflow-x: clip;">

  <div class="pt-5 ps-5">

    <div class="head-rout d-flex">
      <img src="assets/images/img/projects-header.png" alt="">
      <p class="align-self-center ms-2 p-0 m-0 fs-4">Projects</p>
    </div>

    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'; margin: 0px -15px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:"> <i class="feather icon-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
      </ol>
    </nav>
  </div>

  <div class="container">

    <div class="cart-projects mt-5">

      <div class="card-projects-body d-flex justify-content-between align-items-center rounded mt-3"
        routerLink="/sections">
        <div class="card-projects-left d-flex align-baseline">

          <div class="card-projects-left-icon">
            <img src="assets/images/img/lock.png" alt="">
          </div>

          <div class="card-projects-left-name">
            <p class="fw-bold fs-5" style="color: #2055F3;translate: 10px 15px;">FerdowsiCloud</p>
          </div>

        </div>

        <div class="card-projects-right d-flex align-items-center w-25 justify-content-evenly mt-3">

          <div class="card-projects-right-projects d-flex flex-column align-items-center">
            <div class="card-projects-right-projects-icon" style="translate: 7px 0;">
              <img src="assets/images/img/projects.png" width="80%">
            </div>
            <div class="card-projects-right-projects-count">
              <p class="fs-5">24</p>
            </div>
          </div>

          <div class="card-projects-right-members d-flex flex-column align-items-center">
            <div class="card-projects-right-members-icon">
              <img src="assets/images/img/members.png" width="80%">
            </div>
            <div class="card-projects-right-members-count" style="translate: -6px 6px;">
              <p class="fs-5">13</p>
            </div>
          </div>

          <div class="card-projects-right-passwords d-flex flex-column align-items-center">
            <div class="card-projects-right-passwords-icon">
              <img src="assets/images/img/passwords.png" width="100%">
            </div>
            <div class="card-projects-right-passwords-count" style="translate: 1px 10px;">
              <p class="fs-5">31</p>
            </div>
          </div>


        </div>
      </div>

      <div class="card-projects-body d-flex justify-content-between align-items-center rounded mt-3"
        routerLink="/sections">
        <div class="card-projects-left d-flex align-baseline">

          <div class="card-projects-left-icon">
            <img src="assets/images/img/lock.png" alt="">
          </div>

          <div class="card-projects-left-name">
            <p class="fw-bold fs-5" style="color: #2055F3;translate: 10px 15px;">FerdowsiCloud</p>
          </div>

        </div>

        <div class="card-projects-right d-flex align-items-center w-25 justify-content-evenly mt-3">

          <div class="card-projects-right-projects d-flex flex-column align-items-center">
            <div class="card-projects-right-projects-icon" style="translate: 7px 0;">
              <img src="assets/images/img/projects.png" width="80%">
            </div>
            <div class="card-projects-right-projects-count">
              <p class="fs-5">24</p>
            </div>
          </div>

          <div class="card-projects-right-members d-flex flex-column align-items-center">
            <div class="card-projects-right-members-icon">
              <img src="assets/images/img/members.png" width="80%">
            </div>
            <div class="card-projects-right-members-count" style="translate: -6px 6px;">
              <p class="fs-5">13</p>
            </div>
          </div>

          <div class="card-projects-right-passwords d-flex flex-column align-items-center">
            <div class="card-projects-right-passwords-icon">
              <img src="assets/images/img/passwords.png" width="100%">
            </div>
            <div class="card-projects-right-passwords-count" style="translate: 1px 10px;">
              <p class="fs-5">31</p>
            </div>
          </div>


        </div>
      </div>

      <div class="card-projects-body d-flex justify-content-between align-items-center rounded mt-3"
        routerLink="/sections">
        <div class="card-projects-left d-flex align-baseline">

          <div class="card-projects-left-icon">
            <img src="assets/images/img/lock.png" alt="">
          </div>

          <div class="card-projects-left-name">
            <p class="fw-bold fs-5" style="color: #2055F3;translate: 10px 15px;">FerdowsiCloud</p>
          </div>

        </div>

        <div class="card-projects-right d-flex align-items-center w-25 justify-content-evenly mt-3">

          <div class="card-projects-right-projects d-flex flex-column align-items-center">
            <div class="card-projects-right-projects-icon" style="translate: 7px 0;">
              <img src="assets/images/img/projects.png" width="80%">
            </div>
            <div class="card-projects-right-projects-count">
              <p class="fs-5">24</p>
            </div>
          </div>

          <div class="card-projects-right-members d-flex flex-column align-items-center">
            <div class="card-projects-right-members-icon">
              <img src="assets/images/img/members.png" width="80%">
            </div>
            <div class="card-projects-right-members-count" style="translate: -6px 6px;">
              <p class="fs-5">13</p>
            </div>
          </div>

          <div class="card-projects-right-passwords d-flex flex-column align-items-center">
            <div class="card-projects-right-passwords-icon">
              <img src="assets/images/img/passwords.png" width="100%">
            </div>
            <div class="card-projects-right-passwords-count" style="translate: 1px 10px;">
              <p class="fs-5">31</p>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>