.projects-bg {
    background-color: #F1F5FE;
    background-image: url("../../assets/images/img/projects-bg.png");
    height: 100vh;
    background-blend-mode: exclusion;
}

p {
    font-family: cursive;
}

.card-sections-body {
    width: 295px;
    height: 265px;
    text-align: -webkit-center;
    background: #FAFAFA;
    padding: 35px 25px;
    box-shadow: 0 0 4px #ec82f840;
}

.card-sections-body:hover {
    background: aliceblue;
    cursor: pointer;
}

.member {
    height: 50px;
    width: 50px;
    border-bottom-style: inset;
    box-shadow: 0 0 2px #494949;
    border-radius: 50%;
}

.member1 {
    background-image: url(../../assets/images/img/omid.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    z-index: 4;
}

.member2 {
    background-image: url(../../assets/images/img/cat2.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 1.5rem;
    z-index: 3;
}

.member3 {
    background-image: url(../../assets/images/img/girl1.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 3rem;
    z-index: 2;
}

.member4 {
    background-image: url(../../assets/images/img/bagheri.jpg);
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 4.5rem;
    z-index: 1;
}

.member5 {
    background-color: #42a5f56b;
    position: absolute;
    left: 6.6rem;
    text-shadow: 0 0 1px white;
    font-size: 23px;
    padding: 9px 14px;
    z-index: 0;
}